﻿@model IEnumerable<ItomaCars.Models.CarDataView>

@{
    ViewBag.Title = "Car management";
}

<h2>Car management</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarYearMade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentSegment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreviousUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreviousSegment)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CarYearMade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarNumber)
        </td>
        <td>
            <strong>@Html.DisplayFor(modelItem => item.CarModel)</strong>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentSegment)
        </td>
        <td>
            <strong>@Html.DisplayFor(modelItem => item.Status)</strong>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreviousUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreviousSegment)
        </td>
    </tr>
}

</table>
